/* line 1, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_component.scss */
body {
  overflow-x: hidden; }

/* line 4, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_component.scss */
.contain-to-grid {
  background: #5E737D;
  border-bottom: 5px solid #26967D;
  z-index: 10; }
  /* line 8, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_component.scss */
  .contain-to-grid .top-bar {
    background: #5E737D; }

/* line 13, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_component.scss */
.text_white {
  color: white; }

/* line 16, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_component.scss */
.text_gray {
  color: #5E737D; }

/* line 19, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_component.scss */
.text_gray_dark {
  color: #222; }

/* line 22, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_component.scss */
.text_dark_green {
  color: #26967D; }

/* line 25, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_component.scss */
.text_light_green {
  color: #73FFE0; }

/* line 29, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_component.scss */
.complete_width {
  max-width: initial;
  text-align: center; }

/* line 34, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_component.scss */
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #73FFE0;
  margin: 0 auto;
  position: relative; }

/* line 42, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_component.scss */
.circle_mini {
  background: #5E737D;
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 50%;
  padding: 37px 0; }

/* line 53, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_component.scss */
.divider {
  margin-top: 30px; }
  /* line 55, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_component.scss */
  .divider h2 {
    line-height: 1.2;
    margin: 0; }

/* line 62, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_component.scss */
.cust_footer {
  background: #5E737D;
  border-top: 5px solid #26967D;
  height: 2.8125rem;
  position: relative; }
  /* line 67, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_component.scss */
  .cust_footer .social {
    list-style: none;
    overflow: hidden; }
  /* line 71, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_component.scss */
  .cust_footer .cust_pant_div {
    position: absolute;
    bottom: 0px;
    right: 1%;
    text-align: right;
    width: 100%; }
    /* line 77, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_component.scss */
    .cust_footer .cust_pant_div img {
      width: 15%; }

/* line 2, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_projects.scss */
.cust_miniproject h4 {
  line-height: 1;
  color: white;
  margin: 0; }

/* line 2, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_tiger.scss */
.cust_tiger {
  background: #D4FDF4;
  padding: 15px;
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  /* line 10, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_tiger.scss */
  .cust_tiger h2 {
    line-height: 1.2;
    margin: 0; }
  /* line 15, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_tiger.scss */
  .cust_tiger .img_container {
    position: fixed;
    right: 0;
    z-index: 99;
    width: 100%;
    margin: 0 auto; }
    /* line 21, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_tiger.scss */
    .cust_tiger .img_container img {
      width: 40%; }

/* line 26, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_tiger.scss */
.cust_tiger_text {
  background: #D4FDF4; }
  /* line 28, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_tiger.scss */
  .cust_tiger_text h2 {
    margin: 0; }

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 2, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_responsive.scss */
  .cust_tiger {
    height: 46vh; } }

/**/
@media only screen and (max-width: 40em) {
  /* line 8, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_responsive.scss */
  .cust_tiger {
    height: 20vh; }
    /* line 10, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_responsive.scss */
    .cust_tiger .img_container img {
      min-width: 20%; }
  /* line 15, c:/Users/Nelson Larrota/Documents/lab/portfolio/base/sass/components/_responsive.scss */
  .top-bar .name {
    height: 4.8125rem; } }
