/*@group tablet*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.cust_tiger{
		height: 46vh;
	}

}
/*@end tablet*/

/*@group mobile*/
@media only screen and (max-width: 40em) {
	.cust_miniproject{
    	.cust_miniproject_item {
    		width: 50%;
    	}
    }
	.cust_tiger{
		height: 45vh;
		align-items: center;
		.img_container{
			top: 10px;
			position: relative;
			z-index: 1;
			img{
				min-width: 20%;
				width: 80%;
			}
		}
	}
	.cust_tiger_text{
		padding-bottom: 30px;
	}
	.top-bar{
		.name{
			height: 4.8125rem;
		}
		.title-area{
			float: none !important;
			margin: 0 auto;
			width: 100%;
			text-align: center;
		}
	}
	.cust_miniproject{
		margin-top: 40px;
	}
	.cust_footer{
		margin-top: 80px;
		.cust_pant_div img{
			width: 60%;
		}
	}
	.circle{
		margin-bottom: 20px;
	}

	.cust_animated_skills{
		.cd-modal{
			p{
				font-size: 2rem;
				&:first-child{
					font-size: 3rem;
				}
			}
			.cd-modal-content{
				padding-top: 5rem;
			}
		}
		.cd-section{
			min-height: 180px;
		}
	}

}
@media only screen and (max-width: 40em) and (orientation:landscape){
	.cust_tiger .img_container img{
		width: 30%;
	}
	.cust_footer .cust_pant_div img{
		width: 55%;
	}

}
/*@end mobile*/
