
.cust_tiger{
	background: $emerald_green_so_light;
	padding: 15px;
	position: relative;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	h2{
		line-height: 1.2;
		margin: 0;
	}
	
	.img_container{
		position: fixed;
		right: 0;
		z-index: 99;
		width: 100%;
		margin: 0 auto;
		img{
			width: 40%;
		}
	}
}
.cust_tiger_text{
	background: $emerald_green_so_light;
	h2{
		margin: 0;
	}
}